.site-heading {
  color: #ffffff !important;
  text-shadow: 
    -1px -1px 0 #000000, /* Top left */
    1px -1px 0 #000000,  /* Top right */
    -1px 1px 0 #000000,  /* Bottom left */
    1px 1px 0 #000000;   /* Bottom right */
}

.post-heading {
  color: #ffffff !important;
  text-shadow: 
    -1px -1px 0 #000000, /* Top left */
    1px -1px 0 #000000,  /* Top right */
    -1px 1px 0 #000000,  /* Bottom left */
    1px 1px 0 #000000;   /* Bottom right */
}

.copyright a {
  opacity: 0.4;
}