<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
{{ partial "nav.html" . }}
<!-- Page Header -->
{{ block "header" .}}
<header class="intro-header" style="background-image: url('{{ .Site.Params.header_image | relURL }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 ">
                <div class="site-heading">
                    <h1>{{ .Site.Title}} </h1>
                    <!--<hr class="small">-->
		    <span class="subheading" id="slogan">
		      {{ range .Site.Params.slogans }}<span class="slogan-option" style="display:none">{{ . }}</span>{{ end }}
		    </span>
		    <script>
		      var opts = document.querySelectorAll('#slogan .slogan-option');
		      var pick = opts[Math.floor(Math.random() * opts.length)];
		      if (pick) { pick.style.display = 'inline'; }
		    </script>
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ block "main" . }}
{{ end }}

{{ partial "footer.html" . }}
</body>
</html>
